<div id="about" class="container site-content">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>About me</h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni aspernatur aliquid animi libero nam neque, quo quaerat sequi fugiat, nihil fugit error obcaecati illo beatae quisquam ipsum doloremque voluptas!
      <p>Here's my <a id="resume" href="assets/resume_NedevNick.pdf" target="_blank">résumé</a>.</p>
    </div>
  </div>
</div>