.header{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.logo{
  background-color: yellow;

}

.title{
  background-color: lightblue;

}

