/* .header{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  margin: 2em 0;


  padding: 10px;
  color: #444;
} */

header {
    padding: 20px;
}

header h1 {
    font-size: 1.3em;
    font-weight: 600;
    color: #00000F;
    margin: 0;
    padding: .75em 0 .1em;
}

h1 a:hover,
a:focus {
    text-decoration: none;
    color: #00000F;
}

header h3 {
    color: #789;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    padding: 0 0 .75em;
}

.logo {
    max-height: 75px;
    padding-right: 15px;
}