<div id="projects" class="container site-content">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Projects</h2>
      <h5>In no particular order:</h5>
      <p class="padded"></p>
      <article class="row">
        <div class="col-sm-2">
          <h4></h4>
          <a class="red" href="http://www.nicknedev.com/sandbox/Responsive-HTML-Email-Template/"><img
                  src="assets/HTMLEmail.png" alt=""></a>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2 red">
          <h4>Responsive HTML Email Template</h4>
          <p>A responsive email template constructed to render well on desktop as well as mobile email clients.

          </p>
          <a href="https://github.com/nnedevn/Responsive-HTML-Email-Template" target="_blank"
             class="btn btn-primary btn-sm">View on
            GitHub</a>
          <a href="http://www.nicknedev.com/sandbox/Responsive-HTML-Email-Template/" target="_blank"
             class="btn btn-primary btn-sm">View
            Site</a>
        </div>
      </article>


      <p class="padded"></p>

      <article class="row">
        <div class="col-sm-2">
          <h4></h4>
          <a class="red" href="http://www.nicknedev.com/sandbox/elevatorSimulator/"><img src="assets/elevator-small.png"
                                                                                         alt=""></a>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2 red">
          <h4>Elevator Simulator</h4>
          <p>This is a coding challenge. The task was to simulate the behavior of an elevator using JavaScript. The
            elevator cart is controlled by a panel on each floor as well as a panel inside the elevator cart. A detailed description of the
            requirements is in the GitHub project ReadMe.
          </p>
          <a href="https://github.com/nnedevn/elevator" target="_blank" class="btn btn-primary btn-sm">View on
            GitHub</a>
          <a href="http://www.nicknedev.com/sandbox/elevatorSimulator/" target="_blank" class="btn btn-primary btn-sm">View
            Site</a>
        </div>
      </article>

      <p class="padded"></p>

      <article class="row">
        <div class="col-sm-2">
          <h4></h4>
          <a class="red" href="http://www.nicknedev.com/sandbox/conFusion/"><img src="assets/conFuisonSmall.png"
                                                                                         alt=""></a>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2 red">
          <h4>Ristorante con Fusion</h4>
          <p>This is a Bootstrap site for a hypothetical restaurant.
          </p>
          <a href="https://github.com/nnedevn/conFusion-Site" target="_blank" class="btn btn-primary btn-sm">View on
            GitHub</a>
          <a href="http://www.nicknedev.com/sandbox/conFusion/" target="_blank" class="btn btn-primary btn-sm">View
            Site</a>
        </div>
      </article>

      <p class="padded"></p>

      <article class="row">
        <div class="col-sm-2">
          <h4></h4>
          <a class="red" href="http://nicknedev.com/sandbox/gDocsSite/"><img src="assets/gDocsSite.png" alt=""></a>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2 red">
          <h4>CSS only Parallax</h4>
          <p>

            This is a proof of concept project. Creates a parallax effect using CSS transformations of a Handlebars
            template consuming JSON data generated from a GoogleDocs spreadsheet located <a class="" target="_blank"
                                                                                            href="https://docs.google.com/spreadsheets/d/1B3FjBgeqYpcObgL9MxEcwUyVfBkNMAWaQkbbrPorJCs/edit#gid=0">here</a>.
          </p>
          <a href="https://github.com/nnedevn/gDocsExperiment" target="_blank" class="btn btn-primary btn-sm">View on
            GitHub</a>
          <a href="http://www.nicknedev.com/sandbox/gDocsSite/" target="_blank" class="btn btn-primary btn-sm">View
            Site</a>
        </div>
      </article>

      <p class="padded"></p>
      <article class="row">
        <div class="col-sm-2">
          <h4></h4>
          <a class="red" href="http://nicknedev.com/sandbox/fireBaseChat/"><img src="assets/firebase-client-small.png"
                                                                                alt=""></a>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2 red">
          <h4>Simple FireBase Chat App</h4>
          <p>Utilizes Firebase as a backend.
          </p>
          <a href="https://github.com/nnedevn/fireBaseChat" target="_blank" class="btn btn-primary btn-sm">View on
            GitHub</a>
          <a href="http://www.nicknedev.com/sandbox/fireBaseChat/" target="_blank" class="btn btn-primary btn-sm">View
            Site</a>
        </div>
      </article>


    </div>
  </div>
</div>