.nav {
  border-top: 1px dashed #00000F;
  border-bottom: 1px dashed #00000F;
  border-left: none;
  border-right: none;
}

.nav.navbar-nav {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-collapse {
  border-top: 1px dashed #00000F;
}

.nav-pills a:hover, .nav-pills a:active, footer a:hover {
  color: #660099;
  background-color: #FFF !important;
}

.nav-pills a:focus {
  color: #00000F;
  background-color: #FFF !important;
}

.navbar, .navbar-header, .navbar-collapse {
  min-height: 40px;
}

.navbar-default, .navbar-collapse {
  background-color: white;
  border-top, border-left, border-right: none;
  border-bottom: 1px dashed #00000F;
}

.navbar-toggle {
  border: none;
  margin-top: 30px;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background-color: #FFFFFF !important;
}

.navbar-toggle .icon-bar {
  background-color: #00000F !important;
}

.navbar-collapse {
  padding: 0;
}

.navbar-brand h1 {
  font-size: 1em;
}

.navbar-brand h3 {
  font-size: .85em
}
.navbar-brand h1 {
  font-size: 1em;
}

.navbar-brand h3 {
  font-size: .85em
}

.navbar, .navbar-header, .navbar-collapse {
  min-height: 40px;
}

.navgar-toggle .collapsed .icon-bar{
  background-color: red;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background-color: #FFFFFF !important;
}
.navbar{
  border-color: #ddd;
}

a h1 {
  font-size: 1.3em;
  font-weight: 600;
  color: #00000F;
  margin: 0;
  padding: .75em 0 .1em;
}

h1 a:hover {
  text-decoration: none;
  color: #00000F;
}

h3 {
  color: #789;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  padding: 0 0 .75em;
}

h4 {
  padding: 1em 0 0;
  font-weight: 600;
  font-size: 1.2em;
}

nav a, footer a {
  color: #00000F;
} 