<nav class="navbar navbar-default hidden-lg hidden-md hidden-sm visible-xs">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="#">
          <img class="logo pull-left" src="assets/logo.svg" alt="Nick Nedev">
          <div class="pull-left">
            <h1>Nick Nedev</h1>
            <h3 class="title">web developer</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse row" id="mobile-navbar">
        <ul class="nav navbar-nav col-xs-12">
          <li id="nav-about" class="button"><a routerLink="/about">about</a></li>
          <!-- <li id="nav-code-samples" class="button"><a routerLink="/contact">code snippets</a></li> -->
          <li id="nav-projects" class="button"><a routerLink="/projects">projects</a></li>
          <li id="nav-contact" class="button"><a routerLink="/contact">contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>