.menu {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

ul {
    list-style-type: none;
}

.button>a {
    text-decoration: none;
}

nav {
    border-top: 1px dashed #00000F;
    border-bottom: 1px dashed #00000F;
    
}

